<mat-nav-list>
  <a (click)="openLink($event)" mat-list-item routerLink="neueAnamnese/{{data.patId}}">
    <span mat-line><fa-icon icon="file-medical-alt"></fa-icon>Neue Anamnese</span>
  </a>

  <a (click)="openLink($event)" mat-list-item routerLink="neueProcedur/{{data.patId}}">
    <span mat-line><fa-icon icon="syringe"></fa-icon>Neue Anlage</span>
  </a>

  <a (click)="openLink($event)" mat-list-item routerLink="neueOp/{{data.patId}}">
    <span mat-line><fa-icon icon="tools"></fa-icon>Neue Operation</span>
  </a>

  <a (click)="openLink($event)" fxFlexAlign="center" mat-list-item routerLink="neueVisite/{{data.patId}}">
    <span mat-line><fa-icon icon="stethoscope"></fa-icon> Neue Visite</span>
  </a>
</mat-nav-list>
