<mat-card class="card">

  <section class="patcard" fxLayout="column">
    <div class="container" fxLayout>
      <div class="child" fxFlexAlign="center" fxLayout="column" id="left">
        <img *ngIf="patient.geschlecht=='m'" gdGap="5px"
             mat-card-avatar src="assets/Images/man-161282_640.png">
        <img *ngIf="patient.geschlecht=='w'" gdGap="5px"
             mat-card-avatar src="assets/Images/user-297566_640.png">
        <span id="pid">{{patient.pid}}</span>
      </div>
      <div class="child" id="middle">
        <span [routerLink]="['/patientdetails', patient.id]" routerLinkActive="active-link">
          {{patient.name}}, {{patient.vorname}},
          {{(((getCurDate().getTime() - geb.getTime()) / (1000 * 3600 * 24 * 365))) | number:'1.0-0'}} J
        </span>
      </div>
      <div class="child" fxFlexAlign="center" fxLayout="column" gdGap="2px" id="right">
        <span fxFlexAlign="end">{{patient.station}}</span>
        <mat-chip *ngIf="patient.isolation" color="accent" selected>Isolation</mat-chip>
      </div>
    </div>
    <div id="operation">{{patient.letzteOP}}</div>
    <div id="chips">
      <mat-chip-list aria-label="Verfahren">
        <mat-chip *ngFor="let v of patient.verfahren" color="primary" selected>{{v}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="button-cont">
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="attach()" *ngIf="patient.attachedTo != auth.userkey" mat-icon-button>
        <mat-icon>move_to_inbox</mat-icon>
      </button>
      <button (click)="unAttach()" *ngIf="patient.attachedTo === auth.userkey" mat-icon-button>
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
  </section>
</mat-card>


