<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [disableClose]="(isHandset$ | async) === false">
    <mat-toolbar class="toolbar">Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="isHandset$ && drawer.close()" mat-list-item routerLink="">
        <mat-icon>home_work</mat-icon>
        Home
      </a>
      <a (click)="isHandset$ && drawer.close()" *ngIf="!isAuth" mat-list-item routerLink="/login">
        <mat-icon>account_circle</mat-icon>
        Login</a>
      <a (click)="onLogout(); isHandset$ && drawer.close()" *ngIf="isAuth" mat-list-item>
        <mat-icon>exit_to_app</mat-icon>
        Logout</a>
      <a (click)="isHandset$ && drawer.close()" mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard</a>
      <a (click)="isHandset$ && drawer.close()" mat-list-item routerLink="/patientslist">
        <mat-icon>people</mat-icon>
        Patienten</a>
      <a (click)="isHandset$ && drawer.close()" mat-list-item routerLink="/devices">
        <mat-icon>settings_cell</mat-icon>
        Geräte</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar mat-elevation-z4" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SchmerTx</span>
      <span class="spacer"></span>
      <mat-icon *ngIf=" isConnected " aria-hidden="false">
        signal_wifi_4_bar
      </mat-icon>
      <mat-icon *ngIf=" !isConnected " aria-hidden="false">
        signal_wifi_off
      </mat-icon>
      <mat-icon *ngIf="isAuth" aria-hidden="false">
        account_circle
      </mat-icon>
    </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
