<mat-tab-group>
  <mat-tab label="Meine">
    <div class="scroll-box">
      <app-patient-list-item *ngFor="let patient of patients" [patient]="patient"
                             routerLink="/patientdetails/{{patient.id}}"></app-patient-list-item>
    </div>
  </mat-tab>
  <mat-tab label="Offene"> alle offenen Patientenfälle </mat-tab>
  <mat-tab label="Alle"> Alle Patienten in der Datenbank </mat-tab>
</mat-tab-group>
<button mat-fab class="fab" (click)="addEvent()">
    <mat-icon>add</mat-icon>
  </button>
