
<mat-tab-group>
  <mat-tab label="Meine">
    <div gdGap="10px">
      <app-patient-list-item
        *ngFor="let patient of (attachedPatientsList$ | async)"
        [patient]="patient">
      </app-patient-list-item>
    </div>
  </mat-tab>
  <mat-tab label="Offene">
    <div gdGap="10px">
      <app-patient-list-item
        *ngFor="let patient of (unattachedPatientsList$ | async)"
        [patient]="patient">
      </app-patient-list-item>
    </div>
  </mat-tab>

  <mat-tab label="Alle">
    <div gdGap="10px">
      <app-patient-list-item
        *ngFor="let patient of (patientsList$ | async)"
        [patient]="patient">
      </app-patient-list-item>
    </div>
  </mat-tab>
</mat-tab-group>
<button (click)="openDialog()" class="fab" mat-fab>
  <mat-icon>person_add</mat-icon>
</button>
<ng-template #spin>
  <mat-spinner></mat-spinner>
</ng-template>
