<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input (keyup)="doFilter($event.target.value)" matInput placeholder="Filter" type="text">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="opDatum">
    <mat-header-cell *matHeaderCellDef mat-sort-header>OP</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.opDatum * 1000 | date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="geburtsdatum">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Geb</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.geburtsdatum * 1000 | date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.state }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[1, 5, 10, 20]" [pageSize]="5">
</mat-paginator>


